<section>
  <mat-card>
    <mat-card-title>Le déroulement de la partie</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>create</mat-icon>
          <div matLine>
            L'administrateur créée la partie
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>smartphone</mat-icon>
          <div matLine>Les joueurs rejoignent la partie avec un simple QrCode à flasher avec un smartphone</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>check</mat-icon>
          <div matLine>L'administrateur lance la partie</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>list</mat-icon>
          <div matLine>Les joueurs se voient attribuer une mission, une cible et 3 points de vies</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>people</mat-icon>
          <div matLine>Les actions possibles du joueur:</div>
          <div matLine>Effectuer la mission: Le joueur tue sa cible, les 2 personnes concernées n'ont plus qu'à valider l'action sur l'application</div>
          <div matLine>Changer de mission: Attention, changer de mission vous fera perdre un point de vie</div>
          <div matLine>Démasquer son tueur: Le joueur saisie le nom de son tueur dans le champ prévu à cet effet. Si le nom est bon, le
            tueur meurs sinon le joueur perd un point de vie</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>account_balance</mat-icon>
          <div matLine>En cas de litige, convoquez le tribunal.</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>av_timer</mat-icon>
          <div matLine>Lorsqu'il reste moins de 5 joueurs, il devient impossible de démasquer.</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>account_box</mat-icon>
          <div matLine>La partie s'arrete lorsqu'il ne reste qu'un seul survivant</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>