<mat-toolbar *ngIf="game">ng-killer - Administration de la partie {{game.name}}</mat-toolbar>

<mat-card *ngIf="game">
  <button mat-raised-button color="accent" (click)="start()" [disabled]="!isStartable()" *ngIf="game.status == 'created'">
    Démarrer
  </button>
  <button mat-raised-button color="accent" (click)="reinit()" [disabled]="game.status == 'created'">
    Réinitialiser
  </button>
  <div>
    <h2>Agents</h2>
    <mat-chip-list>
      <mat-chip *ngFor="let agent of game.agents" [routerLink]="['/agent', agent._id]">
        {{agent.name}}
        <mat-icon class="mat-chip-remove" *ngIf="game.status == 'created'" (click)="deleteAgent(agent)">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div *ngIf="game.status == 'created'">
    <h2>Missions</h2>
    <button mat-raised-button color="accent" (click)="importMissions()">
      Importer des missions
    </button>
    <form class="" (ngSubmit)="onSubmitNewMission()">
      <mat-form-field class="full-width">
        <input matInput name="newMission"
          placeholder="Nouvelle mission"
          [(ngModel)]="newMission">
      </mat-form-field>
    </form>
    <mat-list dense>
      <mat-list-item *ngFor="let mission of game.missions"> 
        {{mission.title}} 
        <mat-icon (click)="deleteMission(mission)">cancel</mat-icon>
      </mat-list-item>
    </mat-list>
  </div>
</mat-card>