<md-toolbar *ngIf="game">ng-killer - Administration de la partie {{game.name}}</md-toolbar>

<md-card *ngIf="game">
  <div>
    <h2>Agents</h2>
    <md-chip-list>
      <md-chip *ngFor="let agent of game.agents">
        {{agent.name}}
        <md-icon class="mat-chip-remove" *ngIf="game.status == 'created'" (click)="deleteAgent(agent)">cancel</md-icon>
      </md-chip>
    </md-chip-list>
    <h2>Missions</h2>
    <md-list>
      <md-list-item *ngFor="let mission of game.missions"> {{mission.title}} </md-list-item>
    </md-list>
    <form class="" (ngSubmit)="onSubmitNewMission()">
      <md-form-field class="full-width">
        <input mdInput name="newMission"
          placeholder="Nouvelle mission"
          [(ngModel)]="newMission">
      </md-form-field>
    </form>
  </div>
  <button md-raised-button color="accent" (click)="start()" [disabled]="!isStartable()" *ngIf="game.status == 'created'">
    Démarrer
  </button>
  <button md-raised-button color="accent" (click)="reinit()" [disabled]="game.status == 'created'">
    Réinitialiser
  </button>
</md-card>