<h1 mat-dialog-title>Tentative d'assasinat</h1>
<div mat-dialog-content *ngIf="!isWaiting">
  <p>
    Vous êtes sur le point de porter l'estocade.
    <br><br> Attention votre cible doit valider votre meurtre. 
    <br><br> Assurez vous d'avoir bien réalisé votre mission.
  </p>
</div>
<div mat-dialog-content *ngIf="isWaiting">
  <h2>Attente de réponse</h2>
  <!-- <section>
    <div class="arc">
      <div class="arc-cube"></div>
    </div>
  </section> -->
</div>
<div mat-dialog-actions>
  <button *ngIf="!isWaiting" mat-button (click)="onYesClick()" tabindex="2">Valider</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">annuler</button>
</div>