table
    width: 100%
    text-align: left
    border-collapse: collapse
    border-spacing: 0
    margin-bottom: 20px 
    tr
        border-bottom: 1px solid black
    td
        padding: 8px 3px
    th
        padding: 5px
    .rank
        width: 30px
        text-align: center
        background: #333333
        &.bg-1
            background: #D4AF37
            color: black
        &.bg-2
            background: #C0C0C0
            color: black
        &.bg-3
            background: #CD7F32
            color: black
    .agent
        background: #333333
        padding-left: 10px
    .score
        width: 30px
        background: #666666
        text-align: center
        
    