<table *ngIf="getRanking().length > 0">
  <tr><th colspan="6" class="text-center">{{title}}</th></tr>
  <tr>
    <td class="text-center">#</td>
    <td>Agents ({{countAliveAgents()}}/{{countAgents()}} sont en vie)</td>
    <td class="text-center">Kills</td>
    <td class="text-center">Défenses</td>
    <td class="text-center">bluffs</td>
    <td class="text-center">points</td>
  </tr>
  <tr *ngFor="let rank of getRanking()">
    <td [class]="'rank bg-'+rank.place">
      <span>
        {{rank.place}}
      </span>
    </td>
    <td [class]="rank.agent.life>0?'agent alive':'agent dead'">{{rank.agent.name}}</td>
    <td class="score">{{rank.kills}}</td>
    <td class="score">{{rank.unmasks}}</td>
    <td class="score">{{rank.bluffs}}</td>
    <td class="score pts">{{rank.score}}</td>
  </tr>
</table>