<app-header [game]="agent?agent.game.name:''">
</app-header>
<main>
  <section *ngIf="status=='created'">
    La partie n'a pas encore commencée, soyez patient, préparez carnet de note, revolver et autre montre à gousset.
  </section>
  <section *ngIf="status=='started' && agent && agent.status == 'alive'" class="life">
      <md-icon [ngClass]="{'red': agent.life>=1}">favorite</md-icon>
      <md-icon [ngClass]="{'red': agent.life>=2}">favorite</md-icon>
      <md-icon [ngClass]="{'red': agent.life>=3}">favorite</md-icon>
      <md-icon [ngClass]="{'red': agent.life>=4}">favorite</md-icon>
      <md-icon [ngClass]="{'red': agent.life>=5}">favorite</md-icon>
    </section>
  <section *ngIf="status=='started' && agent.status == 'dead'" >
    Vous êtes mort.
  </section>
  <section *ngIf="status=='started' && agent.status == 'alive'">
      <div class="agent-line">
        <h3>
          <md-icon>account_circle</md-icon> Identité
        </h3>
        {{agent.name}}
        <button md-raised-button (click)="showRole()" style="float: right">
          Mon rôle
        </button>
      </div>
      <div class="agent-line">
        <h3>
          <md-icon>gps_fixed</md-icon> Cible
        </h3>
        {{agent.target.name}}
        
      </div>
      <div class="agent-line">
        <h3>
          <md-icon>work</md-icon> Mission
        </h3>
        <p>{{agent.mission.title}}</p>
      </div>
      <p class="text-center">
        <button md-raised-button *ngIf="agent.life>1" (click)="changeMission()">
          <md-icon>next_week</md-icon>
          Changer de mission
        </button>
        <button md-raised-button (click)="suicide()">
          Se suicider
        </button>
      </p>
  </section>
  <section *ngIf="status=='finished'">
    La partie est terminée. Préparez vous pour une prochaine mission, plutôt que de vouleur ressasser le passé.
  </section>
</main>

<footer *ngIf="status=='started' && agent.status == 'alive'">
  <button md-raised-button color="primary" (click)="kill()">Tuer</button>
  <button md-raised-button color="primary" (click)="unmask()">Démasquer</button>
</footer>

<div class="wait-overlay" *ngIf="waitResponse">
  <h2>Attente de réponse</h2>
  <div class="arc">
    <div class="arc-cube"></div>
  </div>
</div>

<div class="wait-overlay" *ngIf="showConfirmKill">
  <h2>Vous venez d'être tué</h2>
  <md-card>
      <md-card-content>
          Pour valider ce meurtre cliquez sur le bouton ci dessous
      </md-card-content>
      <md-card-actions>
        <button md-raised-button (click)="confirmKill(true)"><md-icon>check</md-icon> Mourir avec classe</button>
      </md-card-actions>
  </md-card>
  <md-card>
      <md-card-content>
          Vous n'êtes pas d'accord avec cette action, il vous reste un recours
      </md-card-content>
      <md-card-actions>
          <button md-raised-button (click)="confirmKill(false)"><md-icon>account_balance</md-icon> Convoquer le tribunal</button>
      </md-card-actions>
  </md-card>
</div>

  <div class="wait-overlay" *ngIf="showConfirmUnmask">
    <h2>Vous venez d'être démasqué</h2>
    <md-card>
        <md-card-content>
            Pour valider votre décès cliquez sur le bouton ci dessous
        </md-card-content>
        <md-card-actions>
          <button md-raised-button (click)="confirmUnmask(true)"><md-icon>check</md-icon> Mourir avec classe</button>
        </md-card-actions>
    </md-card>
    <md-card>
        <md-card-content>
            Vous n'êtes pas d'accord avec cette action, il vous reste un recours
        </md-card-content>
        <md-card-actions>
            <button md-raised-button (click)="confirmUnmask(false)"><md-icon>account_balance</md-icon> Convoquer le tribunal</button>
        </md-card-actions>
    </md-card>
  </div>

