@import "../../../variables.sass";
footer
    color: $back-color;
    background: $text-color;
    padding: 10px;
    text-align: center;
main
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
.life
    color: lighten($back-color, 5%);
    text-align: center;
.red
    color: $red;
.agent-line
    max-width: 800px;
    margin: 2rem auto;
    .mat-icon
        vertical-align: bottom;
    h3
        opacity: 0.5;
        display: inline-block;
        width: 150px;
        zoom: 1;
        margin: 2px 0px;