@import "../../../variables.sass";

section
    padding: 15px;
    text-align: center;
.mat-chip-list-wrapper
    display: block!important;
    text-align: center;
#qrStarted
    position: absolute;
    top: 2px;
    right: 2px;
