@import "../../../variables.sass";

.subscription
    display: flex
    >div
        flex: 1 0
section
    padding: 15px
    text-align: center
    .text-left
        text-align: left!important
.mat-chip-list-wrapper
    display: block!important
    text-align: center
#qrStarted
    position: absolute
    top: 2px
    right: 2px
