@import "../../../variables.sass"
header
    text-align: center
    width: 100%
    height: 30px
    padding: 10px 
    line-height: 30px
    font-size: 20px
.logo 
    background-color: $text-color
    -webkit-mask: url(/assets/images/logoOSS.svg) no-repeat center
    mask: url(/assets/images/logoOSS.svg) no-repeat center
    background-size: 30px 30px
    mask-size: 30px 30px
    width: 30px
    height: 30px
    display: inline-block
    float: left
#qrStarted
    left: 0
    bottom: 0
    position: fixed
@media only all and (min-width: 900px) 
    app-timeline
        position: fixed
        top: 0px
        width: 50%
        bottom: 0px
        right: 0px
        overflow: auto
        background-color: #f9f7f1
        box-shadow: 0px 0px 15px rgba(0,0,0,0.7)