<h1 mat-dialog-title>Légitime défense</h1>
<div mat-dialog-content>
  <p>Vous trouvez qu'un louche individu tourne un peu trop autour de l'agent que vous êtes ?
  </p>
  Entrez donc son nom dans ce champ
  <mat-form-field>
      <input matInput name="name"
        placeholder="Nom de l'agent"
        [(ngModel)]="name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onYesClick()" tabindex="2">Valider</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
</div>