<div class="timeline-wrapper">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <div class="timeline">
    <div class="head">
      <header>
        La gazette
      </header>
      <div class="subhead">
        Journal du {{today | date: 'dd/MM/yyyy'}}
      </div>
    </div>
    <div class="content">
      <div class="columns">
        <div class="column" *ngFor="let action of actions">
          <ng-container *ngIf="action.type==ActionsService.ACTTION_TYPE_GAME_STARTED">
            <div class="head">
              <span class="headline hl1">Une tuerie se prépare!</span>
            </div>
            <div>
              Des rummeurs font état d'un conflit d'une ampleur sans précédent qui aurait éclatée entre les agents secrets les plus dangereux
              de la planète.
              <figure class="figure">
                <img src="/assets/images/start.gif">
                <figcaption class="figcaption">Un agent apeuré à l'idée de mourir.</figcaption>
              </figure>
            </div>
          </ng-container>
          <ng-container *ngIf="action.type==ActionsService.ACTTION_TYPE_KILL">
            <div class="head">
              <span class="headline hl1">Un nouveau meurtre</span>
              <p>
                <span class="headline hl2">
                  <strong>{{action.killerName}}</strong>
                  a tué
                  <strong>{{action.targetName}}</strong>
                </span>
              </p>
            </div>
            <div>
              {{action.killerName}} a mené à bien son projet en tuant {{action.targetName}}, sa mission était
              <div class="citation">
                "{{action.missionTitle}}"
              </div>
              <figure class="figure">
                <img src="/assets/images/kill{{getKillIndex(action)}}.gif">
              </figure>
            </div>
          </ng-container>
          <ng-container *ngIf="action.type==ActionsService.ACTTION_TYPE_UNMASK">
            <div class="head">
              <span class="headline hl1">Légitime défense</span>
              <p>
                <span class="headline hl2">
                  <strong>{{action.killerName}}</strong>
                  a identifié
                  <strong>{{action.targetName}}</strong>
                </span>
              </p>
            </div>
            <div>
              <figure class="figure">
                <img src="/assets/images/unmask1.gif">
              </figure>
            </div>
          </ng-container>
          <ng-container *ngIf="action.type==ActionsService.ACTTION_TYPE_WRONG_KILLER">
            <div class="head">
              <span class="headline hl1">Balle perdue</span>
              <p>
                <span class="headline hl2">
                  <strong>{{action.killerName}}</strong>
                  ne sait pas viser
                </span>
              </p>
            </div>
            <div>
              En visant à côté, {{action.killerName}} s'est pris sa propre balle dans la mouille à cause d'un rebond mal venu
              <figure class="figure">
                <img src="/assets/images/error.gif">
              </figure>
            </div>
          </ng-container>
          <ng-container *ngIf="action.type==ActionsService.ACTTION_TYPE_ERROR_DEATH">
            <div class="head">
              <span class="headline hl1">Mort accidentelle</span>
              <p>
                <span class="headline hl2">
                  <strong>{{action.killerName}}</strong>
                  meurt bêtement
                </span>
              </p>
            </div>
            <div>
              En croyant être sur la bonne piste, {{action.killerName}} s'est brulé les ailes. Il s'est trompé une fois de trop.
              <figure class="figure">
                <img src="/assets/images/error.gif">
              </figure>
            </div>
          </ng-container>
          <ng-container *ngIf="action.type==ActionsService.ACTTION_TYPE_SUICIDE">
            <div class="head">
              <span class="headline hl1">Suicide</span>
            </div>
            <div>
              {{action.killerName}} n'en pouvait plus. Il a préféré jeter l'éponge
              <figure class="figure">
                <img src="/assets/images/error.gif">
              </figure>
            </div>
          </ng-container>
          <ng-container *ngIf="action.type==ActionsService.ACTTION_TYPE_END">
            <div class="head">
              <span class="headline hl1">C'est fini</span>
            </div>
            <div>
              Et le dernier agent survivant est <strong>{{action.killerName}}</strong>. Bravo à lui
              <figure class="figure">
                <img [src]="(action.killer?.photo)?action.killer.photo:'/assets/images/end.gif'">
              </figure>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>