<div class="timeline-wrapper">
  <div class="timeline">
    <div class="entries">
      <div class="entry" *ngFor="let action of actions">
        <div class="title" [ngClass]="{'big': actionsService.isImportant(action)}">
          <i class="material-icons">{{actionsService.getIcon(action)}}</i>
          <span class="action-name">{{action.type | actionType}}</span>
        </div>
        <div class="body">
          <p *ngIf="action.type==ActionsService.ACTTION_TYPE_KILL">
            <span class="agent-card bg-blue">{{action.killer?.name}}</span>
            a tué
            <span class="agent-card bg-red">{{action.target?.name}}</span>
            <span class="mission">{{action.mission?.title}}</span>
          </p>
          <p *ngIf="action.type==ActionsService.ACTTION_TYPE_UNMASK">
            <span class="agent-card bg-blue">{{action.killer?.name}}</span>
            a identifié son killer
            <span class="agent-card bg-red">{{action.target?.name}}</span>
          </p>
          <p *ngIf="action.type==ActionsService.ACTTION_TYPE_WRONG_KILLER">
            <span class="agent-card bg-blue">{{action.killer?.name}}</span>
            a perdu un point de vie en se trompant de killer
          </p>
          <p *ngIf="action.type==ActionsService.ACTTION_TYPE_ERROR_DEATH">
            <span class="agent-card bg-blue">{{action.killer?.name}}</span>
            est mort en se trompant une fois de trop
          </p>
          <p *ngIf="action.type==ActionsService.ACTTION_TYPE_SUICIDE">
            <span class="agent-card bg-red">{{action.killer?.name}}</span>
            s'est lâchement suicidé
          </p>
          <div class="date">{{action.Created_date | date:"dd/MM/yy HH:mm:ss"}}</div>
        </div>
      </div>
    </div>
  </div>
</div>