<app-header></app-header>

<section>
    <mat-card>
        <mat-card-title>Le jeu du killer sur mobile</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-icon matListIcon>face</mat-icon>
                    <div matLine>Pas d'inscription</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>list</mat-icon>
                    <div matLine>Quelques règles originales</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListIcon>smartphone</mat-icon>
                    <div matLine>Jouable sur smartphone</div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="openGameDialog()">Créer une nouvelle partie</button>
        </mat-card-actions>
    </mat-card>
</section>
<app-rules></app-rules>